<script lang="ts">
    import type { ActionData } from './$types';
	
	export let form: ActionData;

    import { Card, Button, Label, Input, Checkbox, Modal,Helper } from 'flowbite-svelte';
    let forgotPasswordModal = false;

</script>
<div class="grid h-screen place-items-center">
  <Card class="w-full max-w-md">
    <form class="flex flex-col space-y-6" action="?/login" method="post">
      <h3 class="text-xl font-medium text-gray-900 dark:text-white">Login</h3>
      <Label class="space-y-2">
        <span>Password</span>
        <Input type="password" name="password" placeholder="••••••••" required />
        {#if form?.success==false}
            <Helper class='mt-2' color='red'><span class="font-medium">
              {#if form?.httpcode==401}
                <span>Incorrect password</span> try again.
              {:else}
                <span>Not so well done!</span> Some error message.
              {/if}
            </Helper>
        {/if}
      </Label>
      <div class="flex items-start">
        <Checkbox name="remember">Remember me</Checkbox>
        <a href={null} on:click={()=>(forgotPasswordModal=true)} class="ms-auto text-sm text-primary-700 hover:underline cursor-pointer dark:text-primary-500"> Lost password? </a>
      </div>
      <Button type="submit" class="w-full">Login</Button>
    </form>
  </Card>
</div>
<Modal title="Restore Password" bind:open={forgotPasswordModal} autoclose>
    <p>
        The password is set on the .env file of the backend. Check the line:
    </p>
        <Card class="w-full">
            <code>
                <var>PASSWORD=*****</var>
            </code>
        </Card>
</Modal>