<script>
    import { Navbar, NavBrand, NavLi, NavUl, NavHamburger } from 'flowbite-svelte';
  </script>
<div class="containet">
<Navbar let:NavContainer color="primary">
    <NavContainer class="w-full px-5">
      <NavBrand href="/">
        <span class="self-center whitespace-nowrap text-xl font-semibold">TaskManager</span>
      </NavBrand>
      <NavHamburger />
      <NavUl>
        <NavLi href="/logout">Logout</NavLi>
      </NavUl>
    </NavContainer>
  </Navbar>

  <slot />

</div>