<script lang="ts">
    import { Drawer, Button, CloseButton, Progressbar } from 'flowbite-svelte';
    import {CaretDownSolid,CaretUpSolid,InfoCircleSolid} from 'flowbite-svelte-icons'
    import { sineIn } from 'svelte/easing';
    import { writable } from 'svelte/store';
    import { onMount } from 'svelte';
    import { killProcessRequest, type MemoryInterface } from '$lib';
    import type { PageData } from './$types';
    import { arrangeChilds,filterProcesses, type ProcessInterface } from '$lib';
    let openList:boolean[] = [];
    export let data: PageData;
    import {
    Table,
    TableBody,
    TableHead,
    TableSearch,
    TableHeadCell,
  } from 'flowbite-svelte';
    let searchTerm = '';

    import NestedRow from './nestedRow.svelte';
    $:items = data.items;

    let transitionParamsRight = {
      x: 320,
      duration: 200,
      easing: sineIn
    };
    let currentPID:number|null = null;
    let hidden6 = true;



  onMount(async () => {

    const intervalId = setInterval(async () => {
      let response = await fetch("./task",{
        method:"GET"
      });
      let {items,memory} = await response.json();
      data.items = items;
      data.memory = memory;
    }, 1000);

  });
  $:filteredItems = filterProcesses(arrangeChilds(items),searchTerm);
  $:searchTerm || closeAll();
  function closeAll(){
    openList = openList.map(()=>false);
  }

  const sortKey = writable('pid'); // default sort key
  const sortDirection = writable(1); // default sort direction (ascending)
  $:sortItems = sortNodes(filteredItems.slice(),$sortKey,$sortDirection);
  // Define a function to sort the items
  const sortTable = (key:string) => {
    // If the same key is clicked, reverse the sort direction
    if ($sortKey === key) {
      sortDirection.update((val) => -val);
    } else {
      sortKey.set(key);
      sortDirection.set(1);
    }
  };

  function sortNodes(nodes:ProcessInterface[],key:string,direction:number){
    nodes.forEach((node,index) => {
      if(node?.childs && node.childs.length>0){
        nodes[index].childs = sortNodes(node.childs,key,direction);
      }
    });
     
    return [...nodes].sort((a, b) => {
      const aVal = a[key];
      const bVal = b[key];
      if (aVal < bVal) {
        return -direction;
      } else if (aVal > bVal) {
        return direction;
      }
      return 0;
    });
    
  }

  let Headers = [
    {
      name:"pid",
      title:"PID"
    },
    {
      name:"name",
      title:"Name"
    }, {
      name:"cpu",
      title:"CPU"
    }, {
      name:"memory",
      title:"Memory"
    }, {
      name:"cmd",
      title:"Command"
    },
  ]



  function getHeadSortArrow(key:string){
    let arrowComponent = null;
    if(key == $sortKey){
      arrowComponent = $sortDirection > 0 ? CaretDownSolid:CaretUpSolid;
    }
    return arrowComponent;
  }

  function updateArrows(sortKey:string,sortDirection:number){
    return Headers.reduce(
      (map, e) => map.set(e.name, getHeadSortArrow(e.name)),
      new Map()
    );
  }

  $:sortArrows = updateArrows($sortKey,$sortDirection);

  function getRamPorcentaje(memory:MemoryInterface){
    try{
      let enUso = memory.total - memory.free;
      return (enUso*100/memory.total).toFixed(2);
    }catch(e){
      return 100;
    }
  }
  function logger(variable:any){
    console.log({variable})
  }
  $:ramPercentaje = getRamPorcentaje(data.memory);
  $:test = logger(ramPercentaje);


</script>

<div>
  <div class="lg:flex">
<div class="lg:inline-block lg:w-3/12 w-11/12 text-center">
  <TableSearch divClass="w-full" color="purple" placeholder="Searh by PID or Name" hoverable={true} bind:inputValue={searchTerm}> </TableSearch>
</div>
<div class="lg:inline-block lg:pt-3 lg:pb-0 py-3 lg:w-8/12 lg:ml-10 w-full">
  <Progressbar progress={ramPercentaje} size="h-4" labelInside labelOutside="RAM usage" />
</div>
</div>

<Table hoverable={true} divClass="overflow-x-auto" class="overflow-y-visible" color="purple">
  <TableHead>
    {#each Headers as heads}
      <TableHeadCell class="cursor-pointer" on:click={()=>sortTable(heads.name)}><p>{heads.title}
      {#if sortArrows.get(heads.name)}
        <span class="inline-block align-middle">
          <svelte:component this={sortArrows.get(heads.name)}></svelte:component>
        </span>
      {/if}
      </p>
      </TableHeadCell>
    {/each}
  </TableHead>
  <TableBody>
    {#each sortItems as item}
      <NestedRow bind:hidden6 bind:currentPID item={item} padding={0} bind:openList={openList}></NestedRow>
    {/each}
  </TableBody>
</Table>
</div>
<Drawer placement="right" transitionType="fly" transitionParams={transitionParamsRight} bind:hidden={hidden6} id="sidebar6">
  <div class="flex items-center">
    <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
      <InfoCircleSolid class="w-4 h-4 me-2.5" />Are you sure?
    </h5>
    <CloseButton on:click={() => (hidden6 = true)} class="mb-4 dark:text-white" />
  </div>
  <p class="mb-6 text-sm text-gray-500 dark:text-gray-400">
    Do you want to stop process {currentPID}? 
  </p>
  <div class="grid grid-cols-2 gap-4">
    <Button color="light" on:click={()=>hidden6=true}>close</Button>
    <Button href="/" class="px-4" on:click={()=>{killProcessRequest(currentPID); hidden6=true}}>Yes, stop it</Button>
  </div>
</Drawer>