<script lang="ts">
    import { Listgroup,ListgroupItem } from "flowbite-svelte";
    import { killProcessRequest } from "$lib";
    export let open: boolean;
    export let pid: number;
    export let name:string;
    export let x:number;
    export let y:number;

    function closeDropdown(event:any) {
        console.log("Click event");
        if (event.target?.closest(`.dropdown${pid}`) === null && event.target?.closest(`.row${pid}`) === null) {
            open = false;
        }
    }

</script>
<svelte:window on:click={closeDropdown} on:contextmenu={closeDropdown}/>
{#if open}
    <Listgroup active class={`dropdown${pid} z-50`} style={`position:absolute; left: ${x}px; top: ${y}px`}>
        <h3 class="p-1 text-center text-md font-medium">{name}</h3>
        <ListgroupItem on:click={()=>{killProcessRequest(pid);open=false}}>Kill process</ListgroupItem>
        <ListgroupItem on:click={()=>open=false}>Close</ListgroupItem>
    </Listgroup>
{/if}