<script lang="ts">
    import type { ProcessInterface } from "$lib";
    import ContextMenu from "./contextMenu.svelte";
    export let openList: boolean[];// Objeto para mantener el estado de apertura de cada fila
    export let item: ProcessInterface;
    export let padding:number;
    export let currentPID:number|null;
    export let hidden6:boolean;
    $:open = openList[item.pid];
    let openDropdown = false;
    let xDropdown:number;
    let yDropdown:number;

    let longpressed = false;

    function handleDblClick(pid:number,event:MouseEvent){
        event.stopPropagation();
        currentPID = pid;
        hidden6 = false;
        console.log(currentPID);
    }

    function toggleRow(pid: number,event:MouseEvent){
        if(event.button!=0 || longpressed) return;
        if(item.childs && item.childs[0]){
            openList[pid] = !openList[pid]; // Cambia el estado de apertura de la fila correspondiente
            console.log({open:openList[pid]})
            item.childs = item.childs;
        }
        openDropdown = false;

    }


    $:childs = item.childs;
    $:cursor = `row${item.pid} w-full ` + (item.childs && item.childs[0]?`cursor-pointer`:`cursor-default`);
    import {
    TableBodyCell,
    TableBodyRow,
    } from 'flowbite-svelte';
    let handleRightClick = (event:MouseEvent) => {
        if(event.button==2){
            event.preventDefault();
            console.log(event.button);
            openDropdown = !openDropdown;
            if(openDropdown){
                xDropdown = event.pageX + 10;
                yDropdown = event.pageY - 80;
                console.log({xDropdown,yDropdown})
            }
            console.log("Click derecho",{openDropdown})
        }


     
    }
</script>
<TableBodyRow
    on:click={event => toggleRow(item.pid, event)}
    on:dblclick={event => handleDblClick(item.pid, event)}
    on:contextmenu={handleRightClick}  class={cursor}>
    <TableBodyCell class="w-full"><p style={`padding-left: ${padding}rem`} >{item.pid}</p></TableBodyCell>
    <TableBodyCell class="w-full">{item.name}</TableBodyCell>
    <TableBodyCell class="w-full">{item.cpu}</TableBodyCell>
    <TableBodyCell class="w-full">{item.memory}</TableBodyCell>
    <TableBodyCell class="w-full">{item.cmd}</TableBodyCell>
</TableBodyRow>
<ContextMenu bind:open={openDropdown} name={item.name} pid={item.pid} x={xDropdown} y={yDropdown}></ContextMenu>

  {#if open}
    {#each (childs) as childItem}
        <svelte:self bind:hidden6 bind:currentPID item={childItem} padding={padding+2} bind:openList={openList}> </svelte:self>
    {/each}
  {/if}